* {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.section {
    font-size: larger;
    color: darkolivegreen;
}

.list {
    font-size: 20px;
    color: aquamarine;
}